/* popup.css */
/* Variables */
:root {
  color-scheme: dark;
  --primary: #f39090;
  --secondary: #502e2e;
  --tertiary: #221818;
  --background: #352929;

  --accent: #581111;
  --lightGrey: #999;

  --switch-width: calc(var(--switch-height) / 0.6);
  --switch-height: 25px;
  --switch-before-size: calc(var(--switch-height) * 0.8);
  --switch-before-margin: calc((var(--switch-height) * 0.2) / 2);
  --switch-before-translate: calc(var(--switch-width) - var(--switch-before-size) - var(--switch-before-margin) * 2);
}

html,
body {
  background-color: var(--background);
  color: var(--primary);
  min-width: 310px;
  min-height: 350px;
  padding: 0.5em;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.logo {
  width: auto;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

p {
  color: #999999;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Toggle Switch Styles */


.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width) !important;
  height: var(--switch-height);
  flex-shrink: 0; /* Prevent shrinking */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 100em;
}

.slider::before {
  position: absolute;
  content: "";
  height: var(--switch-before-size);
  width: var(--switch-before-size);
  left: var(--switch-before-margin);
  bottom: var(--switch-before-margin);
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before {
  transform: translateX(var(--switch-before-translate));
}

.switchLabel {
  font-size: 16px;
  cursor: pointer;
}

.switch-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Buttons */
button {
    cursor: pointer;
    padding: 5px 16px;
    border: none;
}

.m3-primary {
  background: var(--primary) !important;
  color: var(--background) !important;
}
.m3-btn {
  background: var(--tertiary);
  color: var(--primary);
  transition: 0.4s;
  font-weight: 500;
  border-radius: 100em;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  margin: 0.25em;
}
.m3-btn:hover {
  background: var(--secondary) !important;
  color: var(--primary) !important;
}

/* Version Info */
#ext {
  padding: 0.25rem 0;
  z-index: 69;
  position: fixed;
  background: var(--secondary);
  margin: 0;
  bottom: 1.15rem;
  right: 1.15rem;
  border-radius: 0.25rem;
}

#ext-version {
    padding: 0.25rem 0.5rem;
    color: #f39090;
    background-color: #502e2e;
}
